# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
# Build directory
/build/
# Android
/android/.gradle
/android/.idea
/android/.settings
/android/.cxx
/android/local.properties
/android/**/GeneratedPluginRegistrant.java
# iOS
ios/Flutter/.last_build_id
ios/Pods
ios/.symlinks
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/ServiceDefinitions.json
ios/Runner.xcworkspace
ios/Runner/xcuserdata
ios/Flutter/ephemeral
# Windows
/windows/.vs
/windows/.idea
/windows/.vscode
/windows/build/
# Linux
/linux/build/
# macOS
/macos/build/
/macos/Flutter/ephemeral
/macos/Runner.xcworkspace
/macos/Runner/xcuserdata
# Web
/web/.idea
/web/.dart_tool
/web/build/